/* catalog */

.ui-accordion-header {
	position: relative;
}

.ui-accordion-header-icon {
	content: '';
	position: absolute;
	top: 1px;
	right: 0px;
	display: inline-block;
	width: 50px;
  height: 50px;
  border-radius: 50%;
	background: url('../img/catalog/arrow-down-black.svg') #ECECEC 50% 50% no-repeat;
}

.ui-accordion-header-active .ui-accordion-header-icon {
	background: url('../img/catalog/arrow-up-white.svg') #7943A4 50% 50% no-repeat;
  border: 2px solid #D1A9F0;
}

.ui-accordion-header-icon:hover {
  background: url('../img/catalog/arrow-down-white.svg') #9D5CD0 50% 50% no-repeat;
}

.ui-state-focus {
  outline: none;
}

@media (max-width: 576px) {
.ui-accordion-header-icon {
	top: 1px;
	width: 30px;
	height: 30px;
	background: url('../img/catalog/arrow-down-black-small.svg') #ECECEC 50% 50% no-repeat;
}

.ui-accordion-header-active .ui-accordion-header-icon {
	background: url('../img/catalog/arrow-up-white-small.svg') #7943A4 50% 50% no-repeat;
  border: 2px solid #D1A9F0;
}

.ui-accordion-header-icon:hover {
  background: url('../img/catalog/arrow-down-white-small.svg') #9D5CD0 50% 50% no-repeat;
}
}