
.simplebar-content-wrapper {
  overflow: auto;
}

.simplebar-track.simplebar-vertical {
  top: 7px;
  width: 12px;
}

.simplebar-scrollbar::before {
  background: #CCB26E;
}

.simplebar-scrollbar {
  width: 6px;
  background: #CCB26E;
  border-radius: 5px;
}

.simplebar-track {
  bottom: 7px;
}