
.search-1024__container {
  position: relative;
  width: 260px;
  height: 36px;
}

.search-1024__container .search-1024 {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  width: 36px;
  height: 36px;
  border: none;
  background: url('../img/search.svg') 70% 60% no-repeat;
  transition: right 910ms;
  z-index: 4;
  outline: none;
}
.search-1024__container .search-1024:hover {
  cursor: pointer;
}

.search-1024__container input {
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  height: 36px;
  background: #18171B;
  color: white;
  padding: 0 20px 0 0;
  transition: all 1s;
  opacity: 0;
  z-index: 5;
}
.search-1024__container input:hover {
  cursor: pointer;
}
.search-1024__container input:focus {
  width: 220px;
  opacity: 1;
  cursor: text;
}
.search-1024__container input:focus ~ .search-1024 {
  right: 225px;
  z-index: 6;
}