
.select {
  display: block;
  width: 100%;
  position: relative;
}

.new-select {
  position: relative;
  padding: 10px 15px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
}

.new-select__list {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  color: #fff;
  border: 1px solid #999999;
	border-radius: 6px;
  cursor: pointer;
  width: 100%;
  z-index: 2;
  background: transparent;
  user-select: none;
}

.new-select__list.on {
  display: block;
}

.new-select__item span {
  display: block;
  padding: 10px 15px;
}

.new-select__item span {
  display: block;
  padding: 10px 15px;
}

.new-select__item:not(:last-child) {
  border-bottom: 1px solid #999999;
}

.new-select__item span:hover {
  color: #C283F3;
}

.new-select:after {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 9px;
  top: 9px;
  background: url('../img/gallery/gallery-arrow-down-white.svg') 78% 50% no-repeat;
  /* opacity: 0.6; */

  /* -webkit-transition: all .27s ease-in-out;
      -o-transition: all .27s ease-in-out;
          transition: all .27s ease-in-out;

  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
       -o-transform: rotate(0deg);
          transform: rotate(0deg); */
}

/* .new-select.on:after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
} */