
/* gallery */

.swiper-container {
  width: 100%;
  max-height: 835px;
}

.slider-top {
  padding: 16px 0 42px 0;
}

.swiper-slide {
  display: flex;
  padding: 10px;
  align-items: center;
  height: 45%;
  background: rgba(0, 0, 0, 0);
  object-fit: cover;
}

.swiper-slide-publications {
  padding: 0;
}

.slider-buttons {
  display: flex;
}

.swiper-pagination {
  position: static;
	font-size: 16px;
	color: #FFFFFF;
}
.swiper-pagination-fraction {
  padding: 7px 0 0 0;
  width: 70px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
	display: none;
}

.swiper-button-prev,
.swiper-button-next {
  position: static;
  margin: 0;
	width: 30px;
	height: 30px;
  border-radius: 50%;
}

.swiper-button-prev {
	background: url('../img/arrow-left-black.svg') #ECECEC center center no-repeat;
}
.swiper-button-next {
	background: url('../img/arrow-right-black.svg') #ECECEC center center no-repeat;
}

.swiper-button-next:focus,
.swiper-button-prev:focus {
  outline: none;
  border: 2px solid #7943A4;
}

.swiper-button-prev:hover {
	background: url('../img/arrow-left-white.svg') #9D5CD0 center center no-repeat;
}

.swiper-button-next:hover {
	background: url('../img/arrow-right-white.svg') #9D5CD0 center center no-repeat;
}

.swiper-button-prev:active {
  border: 2px solid #D1A9F0;
	background: url('../img/arrow-left-white.svg') #7943A4 center center no-repeat;
}

.swiper-button-next:active {
  border: 2px solid #D1A9F0;
	background: url('../img/arrow-right-white.svg') #7943A4 center center no-repeat;
}

/* publications */

.slider-top-publications {
  padding: 23px 0 30px 0;
}

.swiper-slide-publications {
  display: block;
  width: 350px;
  height: 100%;
  color: #ffffff;
}

/* projects */

.projects__slider {
  display: flex;
}

.swiper-container-projects {
  height: 100%;
}

.swiper-slide-projects {
  display: flex;
  justify-content: center;
  min-height: 150px;
  border: 1px solid #CACACA;
  filter: grayscale(100%);
  cursor: pointer;
  transition: filter .3s linear;
}

.swiper-slide-projects:hover {
  filter: grayscale(0);
}

.projects__img {
  width: 50%;
}

.projects__img--width {
  width: 34%;
}

@media (max-width: 1024px) {

.swiper-container {
  width: 100%;
  max-height: 680px;
}

.swiper-slide-projects {
  min-height: 129px;
}

}

@media (max-width: 768px) {

/* gallery */

.gallery__slider {
  height: 735px;
}

.swiper-wrapper {
  width: 100%;
}

.swiper-slide {
  display: flex;
  padding: 10px;
  background: rgba(0, 0, 0, 0);
  object-fit: cover;
}

/* publications */

.publications__slider {
  height: 525px;
}

.slider-top-publications {
  padding: 23px 0 30px 0;
}

.swiper-slide-publications {
  display: block;
  padding: 0 25px 0 0;
  width: 290px;
  height: 50%;
  color: #ffffff;
}

/* projects */

.swiper-slide-projects {
  min-height: 106px;
}

.projects__img {
  width: 65%;
}

.projects__img--width {
  width: 47%;
}
}

@media (max-width: 576px) {
.gallery__img {
  width: 90%;
}
}

@media (max-width: 576px) {

.swiper-slide {
  display: block;
  padding: 0;
  background: rgba(0, 0, 0, 0);
}

.gallery__slider {
  height: 100%;
}

.slider-buttons {
  display: flex;
  justify-content: center;
}

/* events */

.events__slider {
  min-height: 713px;
}

.swiper-slide-events {
  min-height: 700px;
  border: 1px solid #CACACA;
}

.swiper-pagination-events {
  padding: 15px 0 0 0;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 8px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #CACACA;
}

.swiper-pagination-bullet-active {
  background: #666666;
}

/* projets */

.swiper-container-projects {
  max-height: 65px;
}

.swiper-slide-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 65px;
}

.projects__img {
  width: 51%;
}

.projects__img--width {
  width: 30%;
}
}

@media (max-width: 419px) {

.projects__img {
  width: 41%;
}

.projects__img--width {
  width: 30%;
}
}