/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/open-sans-v18-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v18-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/open-sans-v18-latin_cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v18-latin_cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/open-sans-v18-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v18-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
	box-sizing: border-box;
}

body {
	min-width: 320px;
  font-family: 'Open Sans', sans-serif, Arial, Helvetica;
  font-style: normal;
  font-weight: 400;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

ul {
  margin: 0;
	padding: 0;
	list-style-type: none;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1920px;
}

.title {
	margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
	font-size: 48px;
	line-height: 1;
}

.content-size {
  max-width: 1630px;
}

/* header */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header-nav__container {
  max-width: 100%;
	background-color: #000000;
}

.header-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	padding: 29px 15px;
}

.header__logo {
	margin: 0 20px 0 0;
	flex-shrink: 0;
}

.header__logo:focus {
	outline: 2px solid #7943A4;
}

.menu {
  display: flex;
	font-weight: 600;
	font-size: 18px;
	line-height: 1;
	color: #ffffff;
}

.header__menu {
  margin: 0 120px 0 0;
}

.menu__item:not(:last-child) {
	margin-right: 62px;
}

.menu__link {
	transition: color .1s linear;
}

.menu__link:focus {
	outline: 2px solid #7943A4;
}

.menu__link:hover {
	color: #C283F3;
	outline: none;
}

.menu__link:active {
	color: #7943A4;
	outline: none;
}

.header__authentication {
	padding: 0 0 0 20px;
	text-align: right;
	font-size: 18px;
	line-height: 1;
	color: #ffffff;
	background-color: transparent;
	background: url('../img/authentication.svg') 0px 3px no-repeat;
	transition-property: color, background;
	transition-duration: .2s;
	transition-timing-function: linear;
}

.header__authentication:focus {
	outline: 2px solid #7943A4;
}

.header__authentication:hover {
	color: #C283F3;
	background: url('../img/authentication-violet.svg') 0px 3px no-repeat;
}

.header__authentication:active {
	color: #9D5CD0;
	background: url('../img/authentication-active.svg') 0px 3px no-repeat;
	outline: none;
}

.header-art__container {
	max-width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

.header-art {
  display: flex;
  align-items: center;
	justify-content: space-between;
	margin: auto;
	padding: 17px 15px;
}

.header-art__list {
	display: flex;
	justify-content: space-between;
	margin: 0 30px 0 0;
	padding: 0;
	font-size: 18px;
	line-height: 1;
	color: #ffffff;
}

.header-art__item:not(:last-child) {
	margin: 0 96px 0 0;
}

.header-art__link {
	padding: 0 17px 0 0;
	background: url('../img/arrow-down-white.svg') center right no-repeat;
	cursor: pointer;
	transition-property: color, background;
	transition-duration: .2s;
	transition-timing-function: linear;
}

.header-art__link:focus {
	outline: 2px solid #7943A4;
}

.header-art__link:hover {
	color: #9D5CD0;
	background: url('../img/arrow-down-violet.svg') center right no-repeat;
}

.header-art__link:active {
	color: #7943A4;
	background: url('../img/arrow-up-violet.svg') center right no-repeat;
	outline: none;
}

.search {
	display: flex;
	padding: 3px 3px;
	width: 255px;
	height: 33px;
}

.search:focus-within {
	outline: 2px solid #7943A4;
}

.search__button {
	margin: 0;
	padding: 0;
	width: 23px;
	height: 25px;
	outline: none;
	border: none;
	background: url('../img/search.svg') 0px 5px no-repeat;
	background-color: transparent;
	cursor: pointer;
	transition: background .2s linear;
}

.search__button:hover,
.search__button:focus {
	background: url('../img/search-violet.svg') 0px 5px no-repeat;
}

.search__input {
	margin: 0 0 0 8px;
	padding: 0;
	width: 220px;
	font-size: 18px;
	line-height: 1;
	color: rgba(255, 255, 255, 0.85);
	background-color: transparent;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.85);
	caret-color: #C283F3;
	outline: none;
	cursor: pointer;
	transition: border .2s linear;
}

.search__input:hover {
	border-bottom: 1px solid #C283F3;
}

.search__input::placeholder {
	font-size: 18px;
	line-height: 1;
	color: rgba(255, 255, 255, 0.85);
}

.search__input:focus::placeholder {
	color: transparent;
}

/* hero */

.hero__container {
	background: url('../img/hero-background.jpg') center bottom no-repeat;
	background-size: cover;
	animation: bg-animation 60s linear infinite;
}

@keyframes bg-animation {
  from {
    background-size: 100%;
  }
  50% {
    background-size: 130%;
  }
  to {
    background-size: 100%;
  }
}

.hero__inner {
	margin: auto;
  padding: 240px 15px 0 15px;
  min-height: 800px;
}

.hero__text1 {
	margin: 0 0 19px -5px;
  padding: 0;
  max-width: 600px;
	font-weight: 700;
	font-size: 72px;
	line-height: 84px;
	color: #ffffff;
}

.hero__text2 {
  margin: 0 0 116px 0;
  max-width: 600px;
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	color: #ffffff;
}

.hero__link {
  margin: 0;
  padding: 20px 32px;
	font-weight: 700;
	font-size: 18px;
	line-height: 1;
	color: #ffffff;
	border-radius: 100px;
	background: #9D5CD0;
	border: 3px solid #9D5CD0;
	transition-property: border, background;
	transition-duration: .2s;
	transition-timing-function: linear;
}

.hero__link:focus {
	border: 3px solid #7943A4;
	outline: none;
}

.hero__link:hover {
	border: 3px solid #D1A9F0;
}

.hero__link:active {
	background: #7943A4;
	border: 3px solid #D1A9F0;
}

/* about */

.about__inner {
	margin: 0 auto;
	padding: 87px 15px 55px 15px;
}

.about__title {
	margin: 0 0 25px 0;
}

.about__content {
	max-width: 1092px;
	font-size: 16px;
	line-height: 32px;
	color: #333333;
}

/* gallery */

.gallery__container {
	width: 100%;
	background: url('../img/gallery/gallery-background.jpg') center bottom no-repeat;
	background-size: cover;
}

.gallery__inner {
	display: flex;
	margin: 0 auto;
	padding: 89px 15px 77px 15px;
}

.gallery__content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 50px 0 0;
	max-width: 25%;
}

.gallery__title,
.gallery__select-label,
.gallery__text {
	color: #FFFFFF;
}

.gallery__select-label,
.gallery__text {
	font-weight: 600;
	font-size: 16px;
	line-height: 32px;
}

.gallery__title {
	margin: 0 0 23px 0;
}

.gallery__label {
	margin: 0 0 10px 0;
}

.gallery__text {
	margin: 0 0 -7px 0;
}

.gallery__authorization {
	color: #9D5CD0;
}

.gallery__authorization:hover {
	color: #D1A9F0;
}

.swiper-container {
	padding: 77px 0 0 0;
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide {
	width: 100%;
	background-color: rgba(0, 0, 0, 0);
}

.swiper-pagination {
	top: 23px;
	left: 17px;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: #FFFFFF;
}

.swiper-pagination-fraction {
	width: 100px;
}

.swiper-button-prev {
	top: 38px;
	left: 2px;
	width: 30px;
	height: 30px;
	background: url('../img/arrow-left-white.svg') #666666 center center no-repeat;
	border-radius: 50%;
}

.swiper-button-next {
	top: 38px;
	left: 104px;
	width: 30px;
	height: 30px;
	background: url('../img/arrow-right-white.svg') #666666 center center no-repeat;
	border-radius: 50%;
}

.swiper-button-prev:after,
.swiper-button-next:after {
	content: '';
}

.gallery__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 -15px;
	padding: 0;
}

.gallery__item {
	margin: 0 0 46px 0;
	padding: 0 15px;
	width: 33.333%;
}

.gallery__item:nth-last-child(-n+3) {
	margin: 0;
}

.custom-select {
  position: relative;
  margin: 0;
}

.jq-selectbox {
  width: 100%;
  height: 40px;
  background: transparent;
  border: 1px solid #FFFFFF;
	border-radius: 6px;
  cursor: pointer;
}

.jq-selectbox__select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 15px;
  color: #FFFFFF;
  z-index: 100;
}

.jq-selectbox__trigger {
  position: relative;
  width: 30px;
  height: 100%;
}

.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 13px;
  height: 40px;
  background: url('../img/gallery/gallery-arrow-down-white.svg') center no-repeat;
  transform: translate(-50%, -50%);
}

.opened .jq-selectbox__trigger-arrow {
  background: url('../img/gallery/gallery-arrow-down-white.svg') center no-repeat;
}

.jq-selectbox__dropdown {
  position: absolute;
	top: 39px;
	left: 0;
	padding: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 1px solid #999999;
	border-radius: 6px;
}

.jq-selectbox__dropdown ul {
	margin: 0;
  padding: 0;
  color: #999999;
}

.jq-selectbox__dropdown li {
	padding: 10px 15px;
	border-bottom: 1px solid #999999;
}

.jq-selectbox__dropdown li:last-child {
  border: none;
}

.jq-selectbox__dropdown li:hover {
  color: #C283F3;
}

